<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidebar mode="side" opened>
        <app-sidebar-content></app-sidebar-content>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content">
            <div class="toolbar">
                <mat-toolbar>
                    <button (click)="sidebar.toggle(); clicked()" class="hamburger hamburger--3dx" type="button" aria-label="Menu" aria-controls="navigation" aria-expanded="true/false" [ngClass]="{'is-active': isOpen}" matTooltip="Menu" matTooltipPosition="below">
                        <span class="hamburger-box">
                          <span class="hamburger-inner"></span>
                        </span>
                    </button>
                    <div class="box">
                        <span matTooltip="Change Color Theme" matTooltipPosition="below">
                            <mat-icon>brightness_5</mat-icon>
                            <mat-slide-toggle [formControl]="toggleControl" class="toggle-slider">
                            </mat-slide-toggle>
                            <mat-icon>bedtime</mat-icon>
                        </span>
                        <mat-icon aria-label="My Account" matTooltip="My Account" matTooltipPosition="below">account_circle</mat-icon>
                        <mat-icon aria-label="Logout" matTooltip="Logout" matTooltipPosition="below">exit_to_app</mat-icon>
                    </div>
                </mat-toolbar>

            </div>
        </div>
        <div class="main">
            <ng-content></ng-content>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>