<div class="mat-elevation-z2">
    <mat-card>
        <mat-card-title>Category</mat-card-title>
        <mat-card-subtitle>Expenditure classification</mat-card-subtitle>
    
        <mat-card-content>
              <app-custom-table [tableData]="dataSource"
                                [tableColumns]="tableColumn"
                                [isFilterable]="true"
                                [isPageable]="true"
                                [paginationSizes]="[10, 20, 30]"
                                [defaultPageSize]="4"
                                (sort)="sortData($event)"
                                [rowActionIcon]="'more_vert'"
                                (rowAction)="manageTblAction($event)">  
              </app-custom-table>

            
        </mat-card-content>
    </mat-card>
</div>
