<div class="navbar">
    <div class="top">
        <mat-icon [inline]="true" id="notification_bell" aria-label="notification" matTooltip="No New Notifications" matTooltipPosition="below">notifications_none</mat-icon>
    </div>
    <div class="user">
        <img src="https://www.ums.edu.my/fssk/images/icon/admin2.png" alt="Your Profile Picture">
        <h4 class="name">admin</h4>
        <p class="mail">admin@gmail.com</p>
    </div>
    <div class="menu">
        <div class="menu-head">
            <span>Menu Item</span>
        </div>
        <div class="menu-item">
            <button mat-button class="menu-button" routerLink="/dashboard">
                <mat-icon>dashboard</mat-icon>
                <span>Dashboard</span>
            </button>
            <button mat-button class="menu-button"  routerLink="/technique">
                <mat-icon>view_agenda</mat-icon>
                <span>Technique</span>
            </button>
            <button mat-button class="menu-button"  routerLink="/category">
                <mat-icon>list_alt</mat-icon>
                <span>Category</span>
            </button>
            <button mat-button class="menu-button"  routerLink="/planner">
                <mat-icon>pie_chart</mat-icon>
                <span>Planner</span>
            </button>
            <button mat-button class="menu-button">
                <mat-icon>settings</mat-icon>
                <span>Account Setting</span>
            </button>
        </div>
    </div>
    <mat-icon></mat-icon>
</div>